@using Multicars.Models.BD;
@model Cliente

<form method="post" asp-action="Cadastrar_clientes">
    <div asp-validation-summary="All" class="text-danger"></div>

    <label asp-for="CNH" class="col-sm-2 col-form-label"></label>
    <input asp-for="CNH" class="form-control" />

    <label asp-for="nome" class="col-sm-2 col-form-label"></label>
    <input asp-for="nome" class="form-control" />

    <label asp-for="Data_Nasc" class="col-sm-2 col-form-label"></label>
    <input asp-for="Data_Nasc" class="form-control" />

    <button class="btn btn-primary" type="submit">Cadastrar Cliente</button>

</form>